/** Estilos propios*/
.m-areas > div.m-area > div.m-panel.search-panel.collapsed {
  background-color: #00796b !important;
  width: 40px;
  height: 40px;
  order: -100 !important;
  -webkit-order: -100 !important;
}

.m-areas > div.m-area > div.m-panel.search-panel.opened {
  visibility: visible;
  background-color: transparent !important;
  box-shadow: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  z-index: 1000;
  order: -100 !important;
  -webkit-order: -100 !important;
}

.m-areas > div.m-area > div.m-panel.search-panel.opened > button.m-panel-btn {
  background-color: #00796b !important;
  color: #fff !important;
}

.m-areas
  > div.m-area
  > div.m-panel.search-panel.collapsed
  > button.m-panel-btn {
  background-color: #00796b !important;
  color: #fff !important;
}

.m-areas > div.m-area > div.m-panel.search-panel.opened > div.m-panel-controls {
  opacity: 1;
  border-radius: 10px;
  -webkit-transition: max-width 1s ease 0s, opacity 0.75s ease 0.1s;
  transition: max-width 1s ease 0s, opacity 0.75s ease 0.1s;
}

.m-areas
  > div.m-area
  > div.m-panel.search-panel.opened
  > div.m-panel-controls
  > div.m-searchpanel {
  width: 25vw !important;
  height: 100vh !important;
  background-color: #fff !important;
}

div.m-searchpanel-title {
  line-height: 40px;
  text-align: center;
  height: 39px;
  width: 100%;
  padding: 5 5 5 0;
  border-bottom: 2px solid #ff9800;
  font-size: 15px;
  background-color: #00796b !important;
  color: #fff;
}

.m-searchpanel-container > div.body {
  background-color: #fff;
  width: 25vh !important;
  height: 100vh !important;
}

.m-searchpanel-content {
  height: calc(100vh - 93px);
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.13);
}

.m-searchpanel-content-tabs {
  height: calc(100vh - 130px);
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.13);
}

.m-searchpanel-opciones-busqueda {
  margin: 10px;
}

.m-searchpanel-opciones-busqueda > input[type="text"] {
  display: block !important;
  width: 95% !important;
}

.m-searchpanel-info-opciones {
  font-size: 0.8em;
}

#m-searchpanel-result-content {
  height: calc(100vh - 132px);
  display: none;
  overflow-y: auto;
}

#m-searchpanel-result-content > div > table {
  border-collapse: collapse;
  width: 100%;
  height: 90px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  margin: 0;
  border-bottom: 2px solid rgba(0, 128, 128, 0.5);
  overflow: hidden;
  text-overflow: ellipsis;
}

#m-searchpanel-result-content > div > table:hover {
  background-color: rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
}

#m-searchpanel-result-content > div > table td.key {
  font-weight: 700 !important;
  font-size: 0.9 em !important;
  padding-left: 5px !important;
}

#m-searchpanel-result-content > div > table td.value {
  font-size: 0.9 em !important;
  text-align: right !important;
  padding-right: 5px !important;
}

#m-searchpanel-result-content > div > table tr {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  border-top-style: dashed;
}

#m-searchpanel-result-pagination {
  display: none;
}

#m-searchpanel-result-pagination > div.page {
  margin-top: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700 !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#m-searchpanel-result-pagination
  > div.page
  > td.g-cartografia-flecha-izquierda {
  float: left;
  margin-right: 5px;
  cursor: pointer;
  font-weight: 700 !important;
}

#m-searchpanel-result-pagination > div.page > td.g-cartografia-flecha-derecha {
  float: right;
  margin-left: 5px;
  cursor: pointer;
  font-weight: 700 !important;
}

#previusPage {
  font-weight: 700 !important;
  text-align: left;
  padding-left: 5px;
  width: 30%;
}

#previusPage:hover {
  cursor: pointer;
}

#nextPage {
  font-weight: 700 !important;
  text-align: right;
  padding-right: 5px;
  width: 30%;
}

#nextPage:hover {
  cursor: pointer;
}

#recordsInfo {
  font-weight: 700 !important;
  text-align: center;
  width: 30%;
}

.m-searchpanel-buttons {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffb74d;
}

div.m-searchpanel-buttons > button {
  width: 39%;
  margin: 10px 5%;
  padding: 5px;
  background-color: #fff;
  font-family: Muli, "sans-serif" !important;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-size: 15px;
  line-height: 25px;
  opacity: 0.75;
  -webkit-transition: opacity 0.25s ease 0s;
  transition: opacity 0.25s ease 0s;
  color: #404040;
}

div.m-searchpanel-buttons > button:disabled {
  cursor: not-allowed;
}

div.m-searchpanel-buttons > button:hover:enabled {
  opacity: 1;
}

div.m-searchpanel-buttons > button:focus:enabled {
  outline: none;
}

.info {
  position: absolute;
  width: 60%;
  padding: 5px;
  top: 10px;
  left: 20%;
  background: rgba(245, 245, 245, 0.8);
  font-size: large;
  border-radius: 5px;
  border-style: dashed;
  border-width: 2px;
  text-align: center;
}


.m-searchpanel-tab {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

.m-searchpanel-tab:hover {
  cursor: pointer;
}

.m-searchpanel-tab.actived {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #ff9800;
  border-bottom: 1px solid #fff;
}

.show {
  display: block;
}

.hidde {
  display: none;
}